<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Animesh Tripathi**<br>
    I want to be a Data Scientists

*I am interested in data science because I love Mathematics,Statistics and Python Programming and excited to uncover insight hidden in data*

### Function func(n) will return sum of first 'n' natural numbers,

In [5]:
def func(n):
    return n*(n+1)/2
print(func(100))

5050.0

Horizontal Rule<hr>
<ol>
<li>Python</li>
<li>SQL</li>
<li>Java</li>
</ol>
<ul>
    <li>Data</li>
    <li>Mathematics</li>
    <li>Stats</li>
    <li>Programming</li>
</ul>

<table style="width:20%">
<tr>
<th>Name</th>
<th>Address</th>
<th>Salary</th>
</tr>

<tr>
<td>Animesh</td>
<td>Brisbane</td>
<td>6000</td>
</tr>

<tr>
<td>Ankush</td>
<td>Sydney</td>
<td>4000</td>
</tr>
</table>

<blockquote>This is blocked quotes</blockquote>

<code>
    print("Python Code")
    print("Hello World")
    </code>
    
~~This was strike through text~~<br>
<mark>Highlighted text</mark>